@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #0c8ce9;
  --primary-foreground: #ffffff;
  --muted: #dadada;
  --muted-foreground: #a1a1a1;
  --border: #ababab;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .notion-heading_1 {
    @apply text-primary text-xl font-bold uppercase;
  }

  .notion-bulleted_list_item {
    @apply marker:text-primary my-1 ml-10 list-disc;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
